<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Phat Nguyen</title>
    <link rel="stylesheet" href="https://phat8507.github.io/demo1/style.css">
</head>
<body>
    
    <header class="{% if page.header_style == 'tall' %}header-tall{% else %}header-short{% endif %}">
        <a href="{{ '/' | relative_url }}" class="logo">phat nguyen</a>
        
        <div style="display: flex; align-items: center;">
            <button class="theme-toggle" onclick="toggleTheme()">
                <span id="theme-icon">🌙</span> Mode
            </button>
            
            </div>

        <nav id="main-nav">
            <a href="{{ '/' | relative_url }}">home</a>
            <a href="{{ '/blog/' | relative_url }}">blog</a>
            <a href="{{ '/about.html' | relative_url }}">about</a>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <span>© 2026 Phat Nguyen.</span>
        <span id="current-date"></span>
    </footer>

    <script>
        // Script Ngày tháng
        const today = new Date();
        document.getElementById('current-date').textContent = today.toLocaleDateString('vi-VN');

        // SCRIPT DARK MODE
        const body = document.body;
        const icon = document.getElementById('theme-icon');
        
        // Kiểm tra bộ nhớ xem người dùng đã chọn mode nào chưa
        if (localStorage.getItem('theme') === 'dark') {
            body.classList.add('dark-mode');
            icon.textContent = '☀️';
        }

        function toggleTheme() {
            body.classList.toggle('dark-mode');
            if (body.classList.contains('dark-mode')) {
                icon.textContent = '☀️';
                localStorage.setItem('theme', 'dark');
            } else {
                icon.textContent = '🌙';
                localStorage.setItem('theme', 'light');
            }
        }
    </script>
</body>
</html>
